/*
Sass::SyntaxError: "dl dt" failed to @extend ".columns.medium-6".
The selector ".columns.medium-6" was not found.
Use "@extend .columns.medium-6 !optional" if the extend should be able to fail.


Backtrace:
sass/partials/_base3.scss:45
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:39:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:275:in `call'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:275:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:216:in `loop'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:216:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.7/lib/listen/listener.rb:310:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \"dl dt\" failed to @extend \".columns.medium-6\".\A The selector \".columns.medium-6\" was not found.\A Use \"@extend .columns.medium-6 !optional\" if the extend should be able to fail.\A "; }
