$outer-container: "schema-editor";
$inner-container: "view-port";
//$dl: "editable data-value";
$bg-white: "data-value";





/*------------ PLACEHOLDERS  ---------------*/
$pad: 20px;
%row {
  margin: 0 0 $pad 0;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  %column {
    float: left;
    padding-right: $pad;
    .grid &:last-of-type {
      padding-right: 0;
    }
  }
  @for $i from 1 through 12 {
    %columns-#{$i} {
      width: ((100 / 12) * $i) * 1%;
      clear: none;
    }
  }
}










/*------------ MAIN STRUCTURE ---------------*/





#target { }

.schema-editor {
  @extend %row;
  background-color: rgba(blue, 0.15);
  textarea{
    height: 75vh;
  }
}


textarea { @extend %columns-6; }
.view-port{ @extend %columns-6; }

dl,ol{
  @extend %row;
}


dt select,
dt input{
  @extend %columns-6;

}


dl dt,
dl dd,
ol li{
  margin-left: 0;
  padding-left: 0;
}

dd ol{ @extend %row; }
dd ol li{ @extend %columns-4; }



/*-------------------------------------------*/


@mixin counter($i){
  &:nth-of-type(#{$i}){
    outline: 1px solid #ff0000;
    transition: scale(0.5, 0.5);
  }
}






/*-------------------------------------------*/

//dl dt,
//dl dd,
//ol li{
//  @extend .columns;
//  @for $i from 1 through 2 {
//    &:nth-of-type(#{$i}){
//      @extend .medium-6;
//    }
//  }
//  @for $i from 3 through 5 {
//    &:nth-of-type(#{$i}){
//      @extend .medium-4;
//    }
//  }
//  @for $i from 6 through 7 {
//    &:nth-of-type(#{$i}){
//      @extend .medium-6;
//    }
//  }
//}

/*-------------------------------------------*/


// eg class="data........"
[class|=data]{
//  @extend .columns.medium-4;
}

input[value]{
  outline: 1px solid red;
  height: 35px;
}

/*-------------------------------------------*/

.#{$outer-container}{
}

.#{$inner-container},
textarea{
}

.#{$outer-container}{
  a{
    @extend button;
  }
}



/*---------------------------------------------*/

.#{$inner-container} {
  $color: transparentize($black, 0.85);
  @include box-shadow(10, 10, 2, $color);
}

.#{$inner-container},
textarea{
}

/*---------------------------------------------*/

input.#{$bg-white} {
}



/*-------------- FLEXBOX -----------------*/

ol li{
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}){
      order: #{$i};
    }
  }
}

dl dt,
dl dd{
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}){
      order: #{$i};
    }
  }
  @for $i from 4 through 6 {
    &:nth-of-type(#{$i - 3}){
      order: #{$i - 3};
    }
  }
  @for $i from 7 through 9 {
    &:nth-of-type(#{$i - 6}){
      order: #{$i - 6};
    }
  }
  @for $i from 10 through 12 {
    &:nth-of-type(#{$i - 9}){
      order: #{$i - 9};
    }
  }
}


