$outer-container: "schema-editor";
$inner-container: "view-port";
//$dl: "editable data-value";
$bg-white: "data-value";
$pad: 20px;





/*------------ PLACEHOLDERS  ---------------*/


%gutter{
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}




%borderleft{
  $color: #45B0D4;
  border-left:{
    style: inset;
    color: transparentize(grayscale($color), 0.7);
    width: 4px;
  }
}


%dt{
  /* overflow: auto; */
  float: left;
  width: 200px;
}


%row {
  margin: 0 0 $pad 0;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  %column {
    float: left;
    padding-right: $pad;
    .grid &:last-of-type {
      padding-right: 0;
    }
  }
  @for $i from 1 through 12 {
    %columns-#{$i} {
      width: ((100 / 12) * $i) * 1%;
      clear: none;
      float: left;
    }
  }
}



/*------------ MAIN STRUCTURE ---------------*/

.view-port{
  background-color: transparentize(lightblue, 0.5);
  padding: 1%;
  @extend %borderleft;
  > dl{
    $color: #45B0D4;
    @extend %borderleft;
    background-color:  transparentize(lightblue, 0.5);
    padding: 10px;
    }
}


.schema-editor {
  width: 960px;
  margin: 0 auto;
  @extend %gutter;
  @extend %row;
  background-color: tint(#45B0D4, 10%);
  textarea{
    height: 75vh;
  }
}

.schema-editor {
  outline: 1px solid gray;

  select{
    width: 105px;
    float: left;
    margin-right: 10px;
  }
  input{
    width: 105px;
  }
}

input[type="checkbox"]{
  width: 100px;
}


.schema-editor a{
  float: left;
  &:after{
    content: "X";
    color: red;
    padding: 15px;
  }
}



textarea, .view-port { @extend %columns-6; }

dl,ol{
  @extend %row;
}

input.data-value{
  width: 160px;
  float: left;
  .data-type-number &{
    width: 160px;
  }
}

dl{
  dt{
    float: left;
  }
  dd{
    width: 200px;
    float: left;
    &:first-of-type{
      float: right;
    }
  }
}

body > form > div > div > dl > dd:nth-child(10) > dl{
  margin-left: 10px;
}

.schema-editor dl > dd > dl > dt > select{
  width: 160px;
  outline: 1px solid red;
}


dl dd{
  padding-left: 0px;
}

dl dt,
dl dd,
ol li{
  margin-left: 0;
  padding-left: 0;
}


li.editable > select,
select + input {
  width: 160px;
}




/*-------------------------------------------*/


@mixin counter($i){
  &:nth-of-type(#{$i}){
//    outline: 1px solid #ff0000;
//    transition: scale(0.5, 0.5);
  }
}


/*-------------------------------------------*/


/*-------------------------------------------*/

.#{$inner-container} {
  $color: transparentize($black, 0.85);
  @include box-shadow(10, 10, 2, $color);
}


/*-------------- FLEXBOX -----------------*/

