$outer-container: "schema-editor";
$inner-container: "view-port";
//$dl: "editable data-value";
$bg-white: "data-value";


.#{$outer-container},
.#{$inner-container}{
  @include border-style('left');
}

/*-------------------------------------------*/

.#{$outer-container}{
   $width: 80%;
  @extend %float-left;
   @include center-block($width);
}
.#{$inner-container},
textarea{
  $width: 50%;
  @extend %float-left;
}

.#{$outer-container}{
  a{
    @extend button;
  }

  input{
    @extend %float-left;
  }
}

.#{$outer-container}{
  @include row(100%, table);
//  @extend %column-6;
  @include breakpoint(mobileonly){
    //    unable to include extensions here
  }
  @extend %float-left;
  min-height: 250px;
  background-color: transparentize($blue, 0.85);
}


/*---------------------------------------------*/

.view-port{
  $color: transparentize($black, 0.85);
  @include row(90%, table);
  @include box-shadow(10, 10, 10, $color);
  background-color: transparentize($blue, 0.85);
  dl{
    background-color: transparentize($blue, 0.8);
  }
  dt.editable{
    background-color: transparentize($blue, 0.6);
  }
  *{ margin-left: $xs-pad;}
}

/*---------------------------------------------*/

input.#{$bg-white} {
  background-color: $white;
}


textarea{
  @extend %column-12;
  min-height: 50vh;
}



//ol{
//  li{
//    @extend %column-4;
//    @extend %float-left;
//    input,
//    div select,
//    div a{
//      @extend %column-12;
//    }
//  }
//}

$var: 2 !default;
dt:nth-of-type(#{$var}){
  background-color: red;
}



/*-------------- FLEXBOX -----------------*/

.#{$inner-container} {

}

dl{
  @include flexbox;
  @include flex-wrap(wrap);
  + dt,
  + dd{
    @include flex-direction(row);
    @include order(0);
    @include flex-grow(3);
    @include flex-basis(100%);
    @include align-items( stretch );
    input{
      @include flexbox;
      @include align-items( stretch );
    }

    ol{
      @include flex-direction(row);
      @include order(0);
      li{
        @include flex-grow(3);
        @include align-items( stretch );
      }
    }
  }
}



/*-------------- SELECTORS -----------------*/

dt.editable,
li.editable{
  > div{
    select,
    a{
      @extend %column-12;
      display: block;
      clear: both;
    }
  }
}