$outer-container: "schema-editor";
$inner-container: "view-port";
//$dl: "editable data-value";
$bg-white: "data-value";


/*-------------------------------------------*/

.#{$outer-container}{
   @include center-block(80%);
}


.#{$inner-container}{
  @include border-style('left');
}

.#{$inner-container},
textarea{
//  $width: 50%;
  background-color: transparentize($blue, 0.85);
  &:after{
    @include abs-pos(0, 0, 0, 0);
    @include border-style('left');
    content: " ";
  }
}

.#{$outer-container}{
  a{
    @extend button;
  }
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}



/*---------------------------------------------*/

.#{$inner-container} {
  $color: transparentize($black, 0.85);
  @include box-shadow(10, 10, 10, $color);
  flex: 1 50%;
}

/*---------------------------------------------*/

input.#{$bg-white} {
  background-color: $white;
}


textarea{
  @extend %column-12;
  min-height: 100vh;
  flex: 1 50%;
}

/*-------------- FLEXBOX -----------------*/
dl{
  *{
    @include align-items( stretch );
  }
}

dl{
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  dt,
  dt + dd{
    height: 100px; /* Or whatever */
    margin: auto;
    justify-content: space-around;

    input{
      width: 100%;
      max-width: 100%;
    }

    ol{
      li{
        justify-content: space-around;
        padding:{
          left: 0;
        }
      }
    }
  }
}

ol{
  li{
    @for $i from 1 through 12 {
      &:nth-of-type(#{$i}){
        order: #{$i};
      }
    }
  }
}




dl, ol,
[data-name]{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}



dl dt,
dl dd{
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}){
      order: #{$i};
    }
  }
  @for $i from 4 through 6 {
    &:nth-of-type(#{$i}-3){
      order: #{$i}-3;
    }
  }
}



/*-------------- SELECTORS -----------------*/

dt.editable,
li.editable{
  > div{
    select,
    a{
      @extend %column-12;
      display: block;
      clear: both;
      margin-top: 2%;
    }
  }
  >div >select{
    padding: 0.4em;
  }
}

