/* ------------------------ COLOURS ------------------------ */
$max-width: 1280px;

%borderStyle{
  border-left:{
    style: inset;
    width: 5px;
    color: rgba(#B8D4E2, 0.15);
  }
}

form > div {
  overflow: auto;
}

dt, dd {
  display: inline;
  margin: 0;
}

dd:after {
  content: '\A';
  white-space: pre;
}

dl, ol {

  padding: 10px;
}

dd ol,
dd dl {
  margin-left: 42px!important;
  margin-right: 15px!important;
}

li {
  border-bottom:{
    color: transparentize(white, 0.6);
    width: 2px;
    style: ridge;
  }

}




.view-port > dl > dt > select{
  margin-left: 40px!important;
}




li.editable{
  > select{
    margin-left: 20px;
  }
  dl + a{
    margin-left: 40px;
  }
  dl dd input{
    width: 155px;
  }
}

dl dd ol li dl{
  select{
    margin-left: 0px;
  }
}




dl input, dl select {
  margin:{
    bottom: 10px;
    top: 10px;
    left: 10px;
  }
}






a{
  &:hover{
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
    cursor: pointer;
  }
}


dl ol{
  padding-left: 0;
}

ol{
  @extend %borderStyle;
  list-style: none;
}

.schema-editor{
  max-width: $max-width;
  margin: 0 auto;
}

.view-port{
  max-width: ($max-width / 2) - 15px;
  float: left;
  margin-right: 15px;
  > dl{
    border: none !important;
  }
}


textarea{
  width: 100%;
  max-width: ($max-width / 2) - 15px;
  float: left;
  margin-left: 15px;
  height: 90vh;
  background-color: white;
  border-style: hidden;
  padding: 1.9rem;
  color: grey;
  -webkit-box-shadow: 5px 3px 15px transparentize(#333, 0.65);
  box-shadow: 5px 3px 15px transparentize(#333, 0.65);
}

dl.data-type-object{
  border-left:{
    style: inset;
    width: 5px;
    color: transparentize(grayscale( $primary-color), 0.6);
  }
}



input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  width: 125px;
  font-size: small;
}

body{
  background-color: transparentize( lightblue, 0.85);
}


ol,
dl > dd > dl{
  background-color: transparentize( lightblue, 0.6);
}


li.editable > select + dl{
  background-color: lightblue;
}


.view-port{
  background-color: transparentize( $primary-color, 0.55);
  padding-bottom: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 5px 3px 15px transparentize(#333, 0.65);
  box-shadow: 5px 3px 15px transparentize(#333, 0.65);
}


